@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Outfit', sans-serif;
  color: #2D2C2A; /* Warm Charcoal as default text */
}

body {
  background-color: #F5EFE7; /* Almond Milk background */
}

::-webkit-scrollbar{
  display: none;
}
